html, body {
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

p {
    font-size: 1.1em;
    padding-top: 12px;
    padding-bottom: 12px;
}

label{
  padding-bottom: 10px;
}

#email a{
  font-size: 1.2em;
  font-weight: 200;
  color: #ff4081;
}

#email a:hover{
    color: #303F9F;

}

.content-center{
  margin-right: auto;
  margin-left: auto;
}

.map-box{
}

.map-box iframe{
  width: 100%;
  height: 450px;
}

.pad-left{
  padding-left: 8px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-top: 20px;
}

.navbar-default {
    background-color: #303f9f;
    border-color: transparent;
    border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #E0E0E0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ff4081;
    text-decoration: underline;
    background-color: transparent;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 16px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff4081;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ff4081;
    background-color: transparent;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
}

.banner-img {
  height: 420px;
  background-color: #3f51b5;
  background-position: center;
}

.banner-img h1 {
  text-align: center;
  padding-top: 1.8em;
  font-size: 4.5em;
  color: #d3d3d3;
}

.banner-img p{ 
  padding-top: 1em;
font-size: 1.2em;
text-align: center;
  color: #d3d3d3;

}

.pad-top{
  padding-top: 50px;
}

.pad-bottom{
  padding-bottom: 50px;
}

.pad-top-footer{
  padding-top:30px;
}

.grey-areas {
    background-color: #EAE8E8;
}

.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    border-radius: 18px;
    padding: 12px 25px 12px 25px;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #ff4081;
    background-color: transparent;
    border-color: #ff4081;
}

.back-to-top-btn {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    border-radius: 13px;
    padding: 13px 14px 13px 14px;
    margin-top: 1.2em;
    font-size: 1em;
}

.back-to-top-btn:hover {

  color: #ff4081;
  border-color: #ff4081;

}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 2px solid #D2D2D2;
}


.footer {
    bottom: 0;
    width: 100%;
    height: 165px;
    margin: 0 auto;
    background-color: #303F9F;
     position: inherit;

}

footer p{
  color:white;
}

/* line 245, ../../../sass/projects/taggle/taggle.scss */
.taggle_list {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  font-size: 1.2rem;
}

/* line 250, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  border: none;
  outline: none;
  font-weight: 300;
}

/* line 257, ../../../sass/projects/taggle/taggle.scss */
.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

/* line 265, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 283, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle_hot {
  background: #cac8c4;
}

/* line 287, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close {
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 75%;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
}

/* line 302, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 309, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover > .close {
  display: block;
}

/* line 313, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close:hover {
  color: #990033;
}

/* line 317, ../../../sass/projects/taggle/taggle.scss */
.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  -webkit-transition: opacity, 0.25s;
  -moz-transition: opacity, 0.25s;
  -o-transition: opacity, 0.25s;
  transition: opacity, 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 328, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

/* line 338, ../../../sass/projects/taggle/taggle.scss */
.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}