//This is the section of variables


$max-percent: 100%;
$zero: 0;

$paragraph-font-size: 1.1em;
$email-font-size: 1em;
$email-font-weight: 200;
$navbar-font-size: 16px;

$map-box-height: 450px;
$footer-height: 165px;
$navbar-min-height: 60px;
$navbar-margin-bottom: 20px;

$banner-img-height: 420px;

$none: none;
$transparent: transparent;
$position-relevant: relative;
$position-fixed: fixed;
$underline: underline;
$left: left;
$right: right;
$center: center;

$primary-pink: #ff4081;
$primary-blue: #303F9F;
$secondary-blue: #4050B9;
$white: #fff;
$grey: #EAE8E8;
$secondary-grey: #d3d3d3; 

$pad-left: 8px;
$padding-top: 50px;
$padding-bottom: 50px;
$nav-pad-top: 20px;
$hr-margin-top: 15px;
$hr-margin-bottom: 15px;
$p-padding-top: 14px;
$p-padding-bottom: 14px;

$auto: auto;

//This is the section of variables

html, body {
  height: $max-percent;
}

#wrap {
    min-height: $max-percent;
    height: auto !important;
    height: $max-percent;
    margin: $zero auto -60px;
}

p {
    font-size: $paragraph-font-size;
    padding-top: $p-padding-top;
    padding-bottom: $p-padding-bottom;
}

label{
  padding-bottom: 10px;
}

#email {

  a{
  font-size: $email-font-size;
  font-weight: $email-font-weight;
  color: $primary-pink;
  }

  a:hover, a:focus{
    color: $primary-blue;
    cursor: hand;
  }

}


.content-center{
  margin-right: $auto;
  margin-left: $auto;
}

.map-box{

}

.map-box iframe{
  width: $max-percent;
  height: $map-box-height;
}

.pad-left{
  padding-left: $pad-left;
}

.nav {
    padding-left: $zero;
    margin-bottom: $zero;
    list-style: $none;
    padding-top: $nav-pad-top;
}

.navbar-default {
    background-color: $primary-blue;
    border-color: $transparent;
    border-radius: $zero;
}

.navbar-default .navbar-nav>li>a {
    color: $white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: $primary-pink;
    text-decoration: $underline;
    background-color: $transparent;
}

.navbar {
    position: $position-relevant;
    min-height: $navbar-min-height;
    margin-bottom: $navbar-margin-bottom;
    border: 1px solid $transparent;
    font-size: $navbar-font-size;
}

.navbar-toggle {
    position: $position-relevant;
    float: $right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: $transparent;
    background-image: none;
    border: 2px solid $transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: $primary-pink;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: $primary-pink;
    background-color: transparent;
}

.navbar-fixed-top {
  position: $position-fixed;
  right: $zero;
  left: $zero;
}

.banner-img {
  height: $banner-img-height;
  background-color: $secondary-blue;
  background-position: $center;
  
  h1 {
  text-align: center;
  padding-top: 1.8em;
  font-size: 4.5em;
  color: $secondary-grey;
  }

  p{ 
  padding-top: 1em;
  font-size: 1.2em;
  text-align: $center;
  color: $secondary-grey;
  }
}

.pad-top{
  padding-top: $padding-top;
}

.pad-bottom{
  padding-bottom: $padding-bottom;
}

.pad-top-footer{
  padding-top:30px;
}

.grey-areas {
    background-color: $grey;
}

.btn-pad-bottom{
  margin-bottom: 15px;
}

.btn-default {
    color: $white;
    background-color: $transparent;
    border-color: $white;
    border-width: 2px;
    border-radius: 18px;
    padding: 12px 25px 12px 25px;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: $primary-pink;
    background-color: transparent;
    border-color: $primary-pink;
}

.back-to-top-btn {
    color: $white;
    background-color: $transparent;
    border-color: $white;
    border-width: 2px;
    border-radius: 13px;
    padding: 13px 14px 13px 14px;
    margin-top: 1.2em;
    font-size: 1em;
}

.back-to-top-btn:hover {

  color: $primary-pink;
  border-color: $primary-pink;

}

hr {
    margin-top: $hr-margin-top;
    margin-bottom: $hr-margin-bottom;
    border: $zero;
    border-top: 2px solid #D2D2D2;
}


.footer {
    bottom: $zero;
    width: $max-percent;
    height: $footer-height;
    margin: $zero $auto;
    background-color: $primary-blue;
    position: inherit;

}

footer p{
  color: $white;
}

/* line 245, ../../../sass/projects/taggle/taggle.scss */
.taggle_list {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  font-size: 1.2rem;
}

/* line 250, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  border: none;
  outline: none;
  font-weight: 300;
}

/* line 257, ../../../sass/projects/taggle/taggle.scss */
.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

/* line 265, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 283, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle_hot {
  background: #cac8c4;
}

/* line 287, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close {
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 75%;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
}

/* line 302, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 309, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover > .close {
  display: block;
}

/* line 313, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close:hover {
  color: #990033;
}

/* line 317, ../../../sass/projects/taggle/taggle.scss */
.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  -webkit-transition: opacity, 0.25s;
  -moz-transition: opacity, 0.25s;
  -o-transition: opacity, 0.25s;
  transition: opacity, 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 328, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

/* line 338, ../../../sass/projects/taggle/taggle.scss */
.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}